body {
  margin: 0;
  height: 1000px;
}

.top {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #aaa;
  // height: 300px;
  opacity: 1;
}

.background {
	background: url('/img/home/cd2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#mainNav {
	.nav-item {
		@extend %text-shad;
	}
}

.home-video {
	text-align: center;
	padding-top: 100px;
	iframe {
		@media (min-width: 576px) {
			height: 500px;
		}
		@media (min-width: 992px) {
			width: 75%;
		}
		@media (min-width: 1200px) {
			width: 60%;
		}
	}
	div { color: #fff; }
}

#about,
#services,
#portfolio,
#team {
	padding-top: 50px;
}

.frontpage header {
	@media (max-width: 400px) {
		padding-top: 50px;
	}
	.intro-text {
		@media (min-width: 768px) {
			padding-top: 400px;
		}
		 	.intro-lead-in,
		 	.intro-heading {
		 		@extend %text-shad;
		 		font-size: 60px;
		 	}
		.intro-lead-in {
			font-size: 20px;
			padding: 10px 0;
		}
	}
}

#services {
	color: #fff;
	padding: 30px 0;
	@media (min-width: 768px) {
		padding: 60px 0;
	}
	.section-subheading {
		margin-bottom: 30px;
		@extend %text-shad;
		@media (min-width: 768px) {
			margin-bottom: 60px;
		}
	}
	div {
		color: #fff;
	}
	.service-intro {
		padding: 5px 0 5px 0;
	}
	.service-text {
		@extend %gray-bg;
	}
}
#portfolio {
	@extend %brown-gradient-bg;
	.section-heading { @extend %heading-color; }
	.portfolio-item .portfolio-caption { background-color: #fff0db; }
}

#about {
	@extend %brown-gradient-bg;
	@extend %heading-color;
	.section-heading {
		@extend %text-color;
	}
	.timeline {
		&:before { background-color: #262628; }
		.timeline-image {
			&:last-child { @extend %heading-color; }
			border: 3px solid #262628;
		}
		.timeline-panel { 
			@extend %heading-color; 
			.timeline-heading {
				@extend %text-color;
			}
		}
	}
}

.timeline {
	.timeline-panel {
		color: #fff;
	}
}

#team {
	.home-quote {
		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 38px;
		font-style: italic;
		line-height: 1.3em;
	}
	.team-member img {
		border: 7px solid #222;
	}
}