#mainNav {
	.nav-item {
		text-shadow: 6px 5px 3px #393939;
	}
}

.intro-text {
	 	.intro-lead-in,
	 	.intro-heading {
	 		text-shadow: 6px 5px 3px #393939;
	 	}
	.intro-lead-in {
		background: rgba(57, 57, 57, 0.4);
		border-radius: 25px;
		padding: 10px 0;
		width: 70%;
		margin: 0 auto;
	}
}

#services {
	color: #fff;
	background: url('/img/home/cd.jpg');
	background-repeat: no-repeat;
	// @media (min-width: @screen-md-min) {
	// 	padding: 100px 0;
	// }
	div {
		color: #fff;
	}
	.service-text {
		background: rgba(0,0,0,0.4);
		border-radius: 15px;
		padding: 10px;
	}
}