body {
  margin: 0;
  height: 1000px;
}

.top {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #aaa;
  // height: 300px;
  opacity: 1;
}

.background {
	background: url('/img/home/cd2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#mainNav {
	.nav-item {
		@extend %text-shad;
	}
}

.intro-text {
	 	.intro-lead-in,
	 	.intro-heading {
	 		@extend %text-shad;
	 	}
	.intro-lead-in {
		background: rgba(57, 57, 57, 0.4);
		border-radius: 25px;
		padding: 10px 0;
		width: 70%;
		margin: 0 auto;
	}
}

#services {
	color: #fff;
	padding: 30px 0;
	@media (min-width: 768px) {
		padding: 100px 0;
	}
	.section-subheading {
		margin-bottom: 30px;
		@extend %text-shad;
		@media (min-width: 768px) {
			margin-bottom: 60px;
		}
	}
	div {
		color: #fff;
	}
	.service-intro {
		// @extend %gray-bg;
		padding: 5px 0 5px 0;
	}
	.service-text {
		@extend %gray-bg;
	}
}
#portfolio {
	background: #e3cba9;
	background: -moz-linear-gradient(top, #e3cba9 0%, #433327 100%);
	background: -webkit-gradient(top top, right top, color-stop(0%, #e3cba9), color-stop(100%, #433327));
	background: -webkit-linear-gradient(top, #e3cba9 0%, #433327 100%);
	background: -o-linear-gradient(top, #e3cba9 0%, #433327 100%);
	background: -ms-linear-gradient(top, #e3cba9 0%, #433327 100%);
	background: linear-gradient(to bottom, #e3cba9 0%, #433327 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
	padding-top: 50px;
	.section-heading { color: rgba(0,0,0,0.7); }
}

// #about {
// 	background: #e3cba9;
// }

