body {
	// background: #847152;
	// background: #804836;
}
a {
	cursor: pointer;
}

.btn {
	@include btn-line;
	@include hover-gradient;
	border: none;
	&:after {
		
	}
}

a:focus,
button:focus {
	outline: none;
}

.timeline {
	.timeline-panel {
		color: #fff;
	}
}

#mainNav.navbar-shrink {
	background: #433327;
}