body {
	background-color: #fff0db;
}
a {
	cursor: pointer;
	color: $color-primary;
}

.btn {
	@include btn-line;
	@include hover-gradient;
	border: none;
}

.navbar-nav #shop {
	@extend %sm-btn;
}

#mainNav .container .navbar-nav #shop .nav-link { 
	@media (min-width: 992px) {
		color: rgba(0,0,0,0.8); 
		text-shadow: none;
		font-weight: 700;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #fff;
			transition: all 0.3s ease-in-out; 
		}
	}
}

a:focus,
button:focus {
	outline: none;
}

section#contact {
	background-image: url('/img/home/contact.jpg');
	background-size: cover;
	color: #fff;
	padding: 60px 30px;
}

footer {
	background-color: #222;
	color: #fff;
}

section {
	padding-bottom: 50px;
}