body {
	background-color: #fff0db;
}
a {
	cursor: pointer;
}

.btn {
	@include btn-line;
	@include hover-gradient;
	border: none;
	&:after {
		
	}
}

a:focus,
button:focus {
	outline: none;
}

.timeline {
	.timeline-panel {
		color: #fff;
	}
}

section#contact {
	background-image: url('/img/home/contact.jpg');
	background-size: cover;
	color: #fff;
	padding: 60px 30px;
}

footer {
	background-color: #222;
	color: #fff;
}