.shop {
	.shop-ov {
		padding: 60px 0;
		position: relative;
		text-align: center;
		@extend %brown-gradient-bg;
		.shop-item {
			background: $text-color;
			border-radius: 8px;
			min-height: 300px;
			display: inline-block;
			margin: 20px 0;
			padding: 30px 20px 20px;
			text-align: center;
			@media (min-width: 768px) {
				margin: 20px 30px 40px 30px;
			}
			img {
				margin-bottom: 20px;
				height: 120px;
			}
			h2 {
				font-size: 20px;
				margin-top: 10px;
				&:hover {
					color: #fff;
				}
			}
			p {
				font-size: 20px;
				color: #fff;
				&:hover {
					color: $color-primary;
				}
			}
		}
	}
}