@import "variables.scss";
@import "mixins.scss";
@import "extends.scss";
@import "global.scss";
@import "frontpage.scss";
@import "shop";
@import "subpage";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
    height: auto;
}

.text-primary {
    color: $theme-primary !important;
}

p {
    line-height: 1.4;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken($theme-primary, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-transform: none;
    font-size: 36px;
    padding-bottom: 15px;
}

h2 {
    text-transform: none;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

#mainNav {
    background-color: $gray-darker;
    .navbar-toggler {
        border: 0;
        color: white;
        background-color: $theme-primary;
        font-size: 12px;
        text-transform: uppercase;
        @include heading-font;
        padding: 13px;
        right: 0;
        @media (min-width: 992px) {
            margin-top: 8px;
        }
    }
    .container {
        padding: 0;
        .navbar-brand {
            color: $theme-primary;
            @include script-font;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: darken($theme-primary, 10%);
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 90%;
                    padding: 0.75em 0;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #fff;
                    &:hover,
                    &.active {
                        color: $theme-primary;
                    }
                }
            }
        }
    }
}

@media(min-width:992px) {
    #mainNav {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            #shop a {
                    padding: 10px !important;
                }
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            background-color: $gray-darker;
            padding: 0;
            .navbar-brand {
                padding: 12px 0;
                font-size: 1.25em;
            }
        }
    }
}

header {
    background-attachment: scroll;
    box-shadow: 0px 0px 76px 5px rgba(67, 51, 39, 0.75);
    @include background-cover;
    text-align: center;
    color: white;
    padding: 100px 15px 150px;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
            @media (max-width: 768px) {
                font-size: 50px;
            }
        }
    }
}

.frontpage header {
    background-image: url('../img/header-bg.jpg');
    @include background-cover;
}

.shop header {
    background: url('/img/shop/masthead-shop.jpeg');
    @include background-cover;
}

.privacy header {
    background: url('/img/subpages/masthead-privacy.jpg');
    @include background-cover;
}

.about header {
    background-image: url('../img/about/film.jpg');
    @include background-cover;
}

.directions header {
    background-image: url('../img/about/film.jpg');
    @include background-cover;
}

@media (min-width: 768px) {
  .frontpage header .intro-text {
    padding-top: 150px; } }

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 150px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 60px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

.frontpage header .intro-text .intro-heading {
    @media(max-width:768px) { font-size: 45px; }
}

// Global Section Styles

section {
    padding: 100px 0 0;
    box-shadow: 0px 0px 76px 5px rgba(67, 51, 39, 0.75);
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 75px 0 50px;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

.rounded-circle {
    box-shadow: 0px 0px 25px #222;
}

// Contact Section

section#contact {
    background-color: $gray-darker;
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    :-ms-input-placeholder {  
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        font-size: 90%;
        line-height: 25px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        font-size: 90%;
        margin-bottom: 0;
        line-height: 25px;
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}
